<div class="container">
  <h1>Shrooms</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-3 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="radio" aria-label="...">
        </span>
        <label for="radio-1" class="form-control">Edible</label>
      </div><!-- /input-group -->
    </div><!-- /.col-sm-3 -->

    <div class="col-sm-3 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="radio" aria-label="...">
        </span>
        <label for="radio-1" class="form-control">Inedible</label>
      </div><!-- /input-group -->
    </div><!-- /.col-sm-3 -->
  </div><!-- /.row -->
  <br>

  <div class="row">
    <h3 class="col-sm-2">Mushroom</h3>
    <h3 class="col-sm-2">Edible?</h3>
    <h3 class="col-sm-8">Description</h3>
  </div>
  <div class="row" ng-repeat="mushroom in mushrooms">
    <div ng-repeat="(key, value) in mushroom">
      <h3 class="col-sm-2">{{key}}</h3>
      <h3 class="col-sm-2">{{value.edible}}</h3>
      <h3 class="col-sm-8">{{value.description}}</h3>
    </div>
  </div>
</div>
