/*body {
  background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRs_Aw0lA59PL5Ote_Wvl1f2x04-YqQklXaOg-qpvmSdsKpkjlf) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
