/*html {
  background: url(http://previews.123rf.com/images/notkoo2008/notkoo20081101/notkoo2008110100081/8545629-cartoon-Mushrooms-icon-Stock-Vector-cartoon-mushroom-cute.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
